<%- include("partials/header") -%>
<main>
    <div class="post-container">
        <div class="article">
            <h1 class="title"><%= post.title %></h1>
            <div class="post-image">
                <img src="<%= post.imageURL %>" alt="" />
            </div>

            <p class="text-content"><%= post.content %></p>
        </div>
    </div>
    <div class="post-container">
        <div class="likes-container">
            <i class="fa fa-thumbs-up"></i>
            <h3 class="likes-title">
                <a href="/like/<%= post._id %>"
                    ><span class="material-symbols-outlined"> heart_plus </span>
                    Likes <%= post.likes.length %>
                </a>
            </h3>
        </div>
        <div class="blogs-container">
            <h3 class="title">Comments</h3>
            <ul class="comments-list">
                <% post.comments.forEach(function(comment) { %>

                <p class="text-content">
                    <%= comment.user %> - <%= comment.content %>
                </p>

                <% }); %>
            </ul>
        </div>
    </div>

    <%- include("partials/footer") -%>
</main>
