<%- include("partials/header") -%>

    <main>
        <div class="blogs-container">
            <p class="title">Blog posts</p>
            <% posts.data.forEach(post => { %>
            <div class="blog-box">
                <div class="blog-summary">
                    <h2 class="blog-title">
                        <%= post.title %>
                    </h2>
                    <p class="text-content read-more">
                        <p>created at <%= post.date%></p>
                        <a href="posts/<%= post._id %>"> Read more ...</a>
                    </p>
                </div>
                <div class="blog-img">
                    <img src="<%= post.imageURL %>" alt="" class="blog-poster" />
                </div>
            </div>
            <% }); %>
</main>
<%- include("partials/footer") -%>
